body{
	letter-spacing:0.5px!important;
    font-family: 'Lato'!important;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
.container{
	padding-right:0!important;
	padding-left:0 !important;
}
.wrapper{
	background: rgb(17, 17, 17);
	border-bottom: 5px solid rgb(172, 150, 122);
}
.album img, .photo img{
	border:1px solid #8c8c8c;
}
.various.outer{
	    outline: none;
    text-decoration: none!important;
    text-align: center;
    padding-top: 115px!important;
    font-size: 20px;
	position: relative;
	transition:all 0.3s;

	border:1px dotted black!important;
}
.various.outer:hover{
	background:#8c8c8c;
	transition:all 0.3s;
	color:#ffc6c6;
}
.album:hover > div, .photo:hover > div{
	position: absolute;
    z-index: 100;
    height: 45px;
    background: rgba(0,0,0,0.6);
    color: white;
    opacity: 1;
    transition: all 0.3s;
}
.album > div, .photo > div{
	opacity:0;
	padding:10px 20px;
	width: 100%;
	position: absolute;
    bottom: -1px;
	left:0;
	transition: all 0.3s;
	height: 45px;
}
.album > div > span:last-child, .photo > div > span:last-child{
	float:right;

}
.album a, .photo a{
	color:white;
}
.album a:hover, .photo a:hover{
	color:white;
	text-decoration:none;
}
.album, .various.outer, .photo{
	height:280px;
    width: 240px;
	padding:5px;
	background:white;
	position:relative;
	border:1px solid black;
    display: inline-block;
    margin: 25px 30px 40px 15px;
	overflow:hidden;
	vertical-align:top;
}
#preview{
	display:none;
}
.filebtn{
    font-size: 15px;
    letter-spacing: 0.4px;
    padding: 7px 15px;
    background: white;
    border: 1px dotted #3c3c3c;
    cursor: pointer;
    text-align: center;
    margin-bottom: 15px;
}
#createAlbum, #uploadPhoto{
	min-height:450px;
	position:relative;
	width:850px;
}
#createAlbum input, #uploadPhoto input{
	margin-bottom:30px;
}
#createAlbum > h2+div, #uploadPhoto > h2+div{
	padding-left:30px;
}
#logo{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
	font-size: 20px;
    letter-spacing: 0.3px;
}
#commentBox{
	position: relative;
    background: #f3f3f3;
    padding: 10px;
}
#commentBox > div:hover{
	background:#dfdfdf;
	transition:all 0.3s;
}
#report{
	float: right;
    margin-right: 10px;
    color: #ff4848;
    text-decoration: none;
}
#commentBox .various:hover{
	text-decoration:none;
}
#commentBox .fa{
	margin-right:5px;
}
#commentBox #time{
	float:right;
	margin-right:10px;
}
#commentBox div{
	padding:10px;
	transition:all 0.3s;
}
#commentBox input[type="text"]{
	width:100%;
}
#comment{
	color:#a23030;
}
#reported{
	text-align: center;
    background: #c7c7c7;
    padding: 10px 20px;
    font-size: 22px;
    color: #b54747;
}
#reported img{
	display: block;
    margin: 10px auto;
}
#reportedUser{
	    margin-right: 10px;
    font-size: 17px;
    color: black;
}
span#report{
	line-height: 25px;
	vertical-align: top;
}

.left{
	display:inline-block;
	width:45%;
	float:left;
	padding:22px 15px;
	vertical-align:top;
	position:relative;
}
.left .fa, .right .fa{
	color:#f66565
}
.left .fa{
	margin-right:5px
}
.left img{
	width:100%;
	height:auto;
}
.left > .various{
	position: absolute;
    z-index: 1000;
    top: 25px;
    left: 20px;
}
.right{
	display:inline-block;
	width:50%;
	padding:22px 10px;
}
#description{
	margin-top:20px;
	font-size:17px;
}
#postedby{
	padding-top:25px;
	font-size:19px;
	color:black;
}
#postedby span{
	float:right;
	margin-right:50px;
	font-size:15px;
	color:#333;
}
#loginLogoutDiv p{
	color:white;
}
.panel-primary > .panel-heading{
	background:#ac967a!important;
}
.panel-primary{
	border-color:#ac967a!important;
}
.panel-primary input[type="text"], .panel-primary input[type="password"]{
	width:100%;
}
.panel-primary input[type="submit"], .panel-primary #button{
	margin-top:0;
}
.btn-primary{
	border-color:#ac967a!important;
	background:#ac967a!important;
}
.media{
	background:white;
	padding:80px 40px 110px;
	margin-bottom:30px;
}
.media span{
    color: #ac967a;
    font-size: 19px;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: bold;
}
.media a:hover{
	text-decoration:none!important;
}
.media h4{
	color:#ac967a;
    font-size: 35px;
}
.content.test #button{
	font-size: 55px;
    padding: 30px 60px;
	margin-right: 55px;
    margin-left: 55px;
}
.wrapper #logo + div{
	display:inline-block;
	float:right;
	margin-top: 20px;
}
.wrapper .dropdown{
	display:inline-block;
	float:right;
	margin-top: 30px;
	margin-right:10px;
}
.wrapper .dropdown button{
	background:none;
	padding:0;
}

.wrapper input, .content input[type="submit"], #button{
	color:white;
	background:#ac967a;
	border:1px solid #ac967a;
	color:white;
	transition:all 0.2s;
	outline:none;
	padding:7px 15px;
	letter-spacing: 0.7px;

}
.content input[type="submit"], #button{
	padding:10px 20px;
	margin-top:40px;
	letter-spacing: 0.7px;
}
.wrapper p:hover input, .content p:hover input[type="submit"], #button:hover{
	color:#ac967a;
	background:#fff;
	border:1px solid #ac967a;
	color:#ac967a;
	transition:all 0.2s;

}
p{
	margin-bottom:0;
}
.wrapper nav{
	width: 1070px;
    text-align: right;
	float:right;
	margin-top:-70px;
}
.wrapper nav ul li{
	display:inline-block;
	padding:8px 15px;
}
ul{
	list-style:none;
	padding-left:0;
}
.wrapper nav ul li a{
	text-decoration: none;
    margin-top: -1px;
    line-height: 1.2;
    text-align: center;
    font-size: 16px;
    color: #fff;
	transition: all 0.2s;
	text-transform:uppercase;
}
.wrapper nav ul li:hover a{
	color:#ac967a;
	transition: all 0.2s;
}
.wrapper nav ul li:hover{
		background: url('../images/hover-menu.jpg') no-repeat bottom center;
}
.fa{
	font-size: 25px;
	color: #ac967a;
}
h1{
	font-family: 'Lora'!important;
    font-size: 75px!important;
	width:1170px;
	margin-right:auto!important;
	margin-left:auto!important;
    color: #333333!important;
	margin-bottom:30px!important;
	margin-top:110px!important;
}
h2{
	font-family: 'Lora'!important;
    font-size: 40px!important;
	width:100%;
	margin-right:auto!important;
	margin-left:auto!important;
    color: #333333!important;
	margin-bottom:30px!important;
	margin-top:40px!important;
}
.content{
	background:rgb(248, 248, 248);
	padding-top:80px;
	padding-bottom:130px;
}
form #email p, form #password p{
	font-size:23px;
}
#email, #password{
	margin-bottom:15px;
}
input[type="text"], input[type="password"]{
	border:1px solid #e6e6e6;
	padding:7px 15px;
	background:white;
	width:500px;
}
footer{
	background: rgb(17, 17, 17);
    padding-top: 70px;
	padding-bottom:50px;
}
footer > div > div{
	display:inline-block;
}
.middle{
	margin-left: 75px;
    padding-left: 75px;
    margin-right: 75px;
    padding-right: 75px;
    border-right: 1px solid #ac967a;
    border-left: 1px solid #ac967a;
	color:white;
	margin-top:30px;
	vertical-align:top;
}
.middle div{
	margin-bottom:15px;
}
.middle .fa{
	margin-right:10px;
	width:25.5px;
	height:auto;
}
footer > div > div:last-child .fa{
	width:50px;
	height:50px;
	border-radius:50%;
	border:1px solid white;
	color:white;
	font-size:17px;
	margin-right:20px;
	padding-top: 15px;
    text-align: center;
	vertical-align:top;
	transition:all 0.3s;
}
footer > div > div:last-child .fa:hover{
	color:#ac967a;
	border:1px solid #ac967a;
	transition:all 0.3s;
}
footer > div > div:last-child{
	vertical-align:top;
	margin-top:30px;
}
.powered{
	background:rgb(8, 8, 8);
	padding-top:20px;
	padding-bottom:20px;
}
.powered span{
	text-transform:uppercase;
	color:white;
	font-size:12px;
	margin-right:70px;
}
.powered a{
	color:#ac967a;
	text-transform:uppercase;
	margin-right:20px;
	font-size:13px;
	transition:all 0.3s;
}
.powered a:hover{
	color:white;
	transition:all 0.3s;
	text-decoration:none;
}

#signUpForm p, #signUpForm div{
    margin-bottom: 25px;
    line-height: 45px;
	vertical-align:top;
	font-size:24px;
}
#signUpForm div{
	margin-bottom:0px;
}
#signUpForm textarea, #signUpForm select{
	border: 1px solid #e6e6e6;
    padding: 7px 15px;
	width:500px;
	margin-left:15px;
}
#signUpForm h6{
	   font-size: 16px;
	   margin-bottom:20px;
    font-style: italic;
}
#signUpForm input[type="submit"]{
	color:white;
	background:#ac967a;
	border:1px solid #ac967a;
	color:white;
	transition:all 0.2s;
	outline:none;
	padding:10px 20px;
	letter-spacing: 0.7px;
}

#password{
	   display: inline-block;
}
#signUpForm h4, #createAuctionForm h4{
    vertical-align: top;
    width: 160px;
    display: inline-block;
}
#createAuctionForm h4 + div{
	display:inline-block;
	width:400px
}
.input-group-addon{
	width:15px!important;
	    line-height: 20px!important;
}
.input-group .input-group-addon:first-child{

	position:absolute!important;
}
.input-group.important{
	width:auto!important;
}
#createAuctionForm > div{
	margin-bottom:10px;
}
#aucStartPrice{
    width: 366px;
    margin-left: 25px;
    margin-right: 0px;
}
#createThreadForm h4{
	vertical-align: top;
    width: 175px;
    display: inline-block;
}
#createThreadForm textarea{
	    padding: 7px 15px;
    width: 500px;
    height: 100px;
}
#tblInappropriateList td{
	padding:10px;
}
#tblInappropriateList td:before{
	content:"\f056";
	margin-right:5px;
	 font-family: FontAwesome;
	 color: #d03535;
 }
#tblInappropriateList h3 {
	font-size: 33px;
    border-bottom: 1px solid black;
    padding: 15px;
}
#signUpForm input{
    margin-left: 10px;
    left: 270px;
	line-height: 24px;
	border: 1px solid #e6e6e6;
    padding: 7px 15px;
}
#reportSource{
	text-align: center;
    font-size: 19px;
    padding-top: 10px;
    color: #d02525;
}
#reportSource span{
	font-size:15px;
	color:#444;
}
#reportSource + div{
	text-align: center;
    font-size: 19px;
    padding-top: 10px;
    color: #d02525;
}
#reportSource + div span{
	font-size:15px;
	color:#444;
}

#reportSource + div + div{
	text-align: center;
    font-size: 19px;
    padding-top: 10px;
    color: #d02525;
}
#reportSource + div + div span{
	font-size:15px;
	color:#444;
}
#reportSource + div + div + form{
	text-align:center;
	margin-top:80px;
}
#reportSource + div + div + form input{
	color:white;
	background:#ac967a;
	border:1px solid #ac967a;
	color:white;
	transition:all 0.2s;
	outline:none;
	padding:7px 15px;
	letter-spacing: 0.7px;

}
#logo + form{
	display: inline-block;
    float: right;
    margin-top: 30px;
}
#reportSource + div + div + form input:hover{
	color:#ac967a;
	background:#fff;
	border:1px solid #ac967a;
	color:#ac967a;
	transition:all 0.2s;

}
#signUpForm #txtConfirmPassword{
	    left: 830px;
}
#signUpForm input[type="password"]{
	width:300px;
}
#txtDOB{
    border: 1px solid #e6e6e6;
    padding: 7px 32px;
    /* background: white; */
    font-size: 16px;
    width: 160px;
    height: 45px;
    font-style: italic;
}
.index h4{
	    font-family: 'Lora';
    font-size: 43px;
    color: #333333;
	margin-top:30px;
	letter-spacing:0.1px;
}
.index .left, .index .right{
	float:none;
	padding:20px;
}
.index .left{
	margin-right:20px;
	margin-bottom:30px;
}
.index img{
	z-index:2px;
}
.index .block{
	width: 570px;
    height: 215px;
    z-index: 1;
    margin-left: -40px;
    background: rgba(173, 147, 122, 0.5);
    margin-top: -164px;
}
.index h6{
    font-family: 'Lato';
    font-size: 14px;
    color: #ad957b;
    text-transform: uppercase;
    letter-spacing: 0.1px;
	margin-bottom:30px;
}
.index p{
	letter-spacing: 0;
    margin-bottom: 60px;
}
.content.index{
	padding-bottom:0;
	background:white;
}
.content.index .container h3{
	text-align:center;
	font-family: 'Lora';
    font-size: 48px;
    color: #2f2c2f;
	margin-top:110px;
}
.content.index .container > p{
    text-align: center;
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 60px;
}
#concert{
	background:url(../images/conert.jpg) center center fixed no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    height: 600px;
    width: 100%;
    text-align: right;
}
#concert h4{
font-family: 'Lora';
    font-size: 82px;
    color: #ded9d0;
    padding-top: 155px;
}
#concert h5{
	font-family: 'Lora';
    font-size: 40px;
    color: #ece9e2;
}
.well .form-control{
	width:380px!important;
}
.well small{
	font-style: italic;
    line-height: 50px;
}
.well label{
    margin-bottom: 20px;
    margin-top: 25px;
}
.well .nav-tabs > li > a{
	    font-size: 17px;
    text-transform: capitalize;
}
.well .dataTables_length label{
	font-size:15px;
}
.tab-pane{
	background:white;
	padding:20px;
	 border: 1px solid #ddd;
	border-top: 1px solid transparent;
}
.dataTables_wrapper .dataTables_filter input{
    border: 1px solid #ac967a;
    padding: 5px 10px;
}
.dropdown-menu{
	padding:10px!important;
}
#searchBar{
	    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    vertical-align: -35px;
    margin-bottom: 40px;
    margin-top: -75px;
}
#searchBar input[type='text']{
	width:280px;
}
#searchBar input[type='submit']{
	    background: #ac967a;
    border: 1px solid #ac967a;
    padding: 7px 10px;
    transition: all 0.3s;
}
#searchBar input[type='submit']:hover{
	background:white;
	color:#ac967a;
	transition:all 0.3s
}
.variousContainer{
	width: 115px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#biddingHistory {
	display: none;
}

#errorMsg {
	display: none;
	color: red;
}
.row canvas{
	background: white;
    padding: 20px 10px;
	height: 305px!important;
}
.statisticLabel{
    margin: 50px 20px 25px 5px;
    font-size: 18px;
}
.statisticSelect{

    padding: 7px 10px;
}
.dataTables_paginate, .dataTables_info{
	margin-top: 15px;
}
.displayDiscussionInfo th{
	font-size:21px;
}
.displayDiscussionInfo th, .displayDiscussionInfo td{
	padding-top:5px;
	padding-bottom:5px;
}