body{
	letter-spacing:0.5px!important;
	font-family: 'Lato'!important;

}

.container{
	padding-right:0!important;
	padding-left:0 !important;
}

.wrapper{
	background: rgb(17, 17, 17);
	border-bottom: 5px solid rgb(172, 150, 122);
}

#logo{
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 30px;
	color: white;
	font-size: 20px;
    letter-spacing: 0.3px;
}

.wrapper #logo + div{
	display:inline-block;
	float:right;
	margin-top: 20px;
}

.wrapper .dropdown{
	display:inline-block;
	float:right;
	margin-top: 20px;
}

.wrapper .dropdown button{
	background:none;
	padding:0;
}

.wrapper input, .content input[type="submit"]{
	color:white;
	background:#ac967a;
	border:1px solid #ac967a;
	color:white;
	transition:all 0.2s;
	outline:none;
	padding:7px 15px;
	letter-spacing: 0.7px;

}

.content input[type="submit"]{
	padding:10px 20px;
	margin-top:40px;
	letter-spacing: 0.7px;
}
.content{
	font-size:24px!
}
.wrapper p:hover input, .content p:hover input[type="submit"]{
	color:#ac967a;
	background:#fff;
	border:1px solid #ac967a;
	color:#ac967a;
	transition:all 0.2s;

}

p{
	margin-bottom:0;
}

.wrapper nav{
	width: 1070px;
	text-align: right;
	float:right;
	margin-top:-70px;
}
.wrapper nav ul li{
	display:inline-block;
	padding:8px 15px;
}
ul{
	list-style:none;
	padding-left:0;
}
.wrapper nav ul li a{
	text-decoration: none;
	margin-top: -1px;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	color: #fff;
	transition: all 0.2s;
	text-transform:uppercase;
}
.wrapper nav ul li:hover a{
	color:#ac967a;
	transition: all 0.2s;
}

.wrapper nav ul li:hover{
	background: url('../images/hover-menu.jpg') no-repeat bottom center;
}

.fa{
	font-size: 25px;
	color: #ac967a;
}

h1{
	font-family: 'Lora'!important;
	font-size: 75px!important;
	width:1170px;
	margin-right:auto!important;
	margin-left:auto!important;
	color: #333333!important;
	margin-bottom:30px!important;
	margin-top:110px!important;
}

.content{
	background:rgb(248, 248, 248);
	padding-top:80px;
	padding-bottom:130px;
}

form #email p, form #password p{
	font-size:23px;
}

#email, #password{
	margin-bottom:15px;
}
#signUpForm p, #signUpForm div{
    margin-bottom: 25px;
    line-height: 45px;
	vertical-align:top;
	font-size:24px;
}
#signUpForm div{
	margin-bottom:0px;
}
#signUpForm textarea, #signUpForm select{
	border: 1px solid #e6e6e6;
    padding: 7px 15px;
	width:500px;
	margin-left:15px;
}
#signUpForm h6{
	   font-size: 16px;
	   margin-bottom:20px;
    font-style: italic;
}
#signUpForm input[type="submit"]{
	color:white;
	background:#ac967a;
	border:1px solid #ac967a;
	color:white;
	transition:all 0.2s;
	outline:none;
	padding:10px 20px;
	letter-spacing: 0.7px;
}
#signUpForm input{
    margin-left: 200px;
    left: 270px;
	line-height: 24px;
    position: absolute;
	border: 1px solid #e6e6e6;
    padding: 7px 15px;
}
#signUpForm span{
	vertical-align: top;
}
#signUpForm div > P{
	   display: inline-block;
    margin-left: 375px;
}
#signUpForm #txtConfirmPassword{
	    left: 830px;
}
#signUpForm input[type="password"]{
	width:300px;
}
#txtDOB{
    border: 1px solid #e6e6e6;
    padding: 7px 32px;
    /* background: white; */
    font-size: 16px;
    width: 160px;
    height: 45px;
    font-style: italic;
}
input[type="text"], input[type="password"], input[type="email"]{
	border:1px solid #e6e6e6;
	padding:7px 15px;
	width:500px;
}

footer{
	background: rgb(17, 17, 17);
	padding-top: 70px;
	padding-bottom:50px;
}

footer > div > div{
	display:inline-block;
}

.middle{
	margin-left: 75px;
	padding-left: 75px;
	margin-right: 75px;
	padding-right: 75px;
	border-right: 1px solid #ac967a;
	border-left: 1px solid #ac967a;
	color:white;
	margin-top:30px;
	vertical-align:top;
}

.middle div{
	margin-bottom:15px;
}

.middle .fa{
	margin-right:10px;
	width:25.5px;
	height:auto;
}

footer > div > div:last-child .fa{
	width:50px;
	height:50px;
	border-radius:50%;
	border:1px solid white;
	color:white;
	font-size:17px;
	margin-right:20px;
	padding-top: 15px;
	text-align: center;
	vertical-align:top;
	transition:all 0.3s;
}

footer > div > div:last-child .fa:hover{
	color:#ac967a;
	border:1px solid #ac967a;
	transition:all 0.3s;
}

footer > div > div:last-child{
	vertical-align:top;
	margin-top:30px;
}

.powered{
	background:rgb(8, 8, 8);
	padding-top:20px;
	padding-bottom:20px;
}

.powered span{
	text-transform:uppercase;
	color:white;
	font-size:12px;
	margin-right:70px;
}

.powered a{
	color:#ac967a;
	text-transform:uppercase;
	margin-right:20px;
	font-size:13px;
	transition:all 0.3s;
}

.powered a:hover{
	color:white;
	transition:all 0.3s;
	text-decoration:none;
}
